body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.forgot-password {
    color: #383838;
    text-align: center;
    outline: none;
}

#password-section {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 0px;
}

#password-section.active {
    display: flex;
}

#set-password-section {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

#set-password-section.active {
    display: flex;
}

#set-password-button {
    margin-top: 40px;
}

#submit-password-button {
    margin-top: 40px;
}

#submit-password-button:hover {
    background-color: #4d4d4d;
    color: #c1c1c1;
}

h3 {
    color: #4d4d4d;
    font-weight: normal;
}

#incorrect-password-message {
    display: none;
    color: red;
    font-size: 16px;
    font-weight: bold;
}

#incorrect-password-message.active {
    display: block;
}
